:root {
  --oxford-blue: #040835ff;
  --royal-blue-dark: #111958ff;
  --blue-green: #3797BDff;
  --black: #000000ff;
  --cerulean-crayola: #31A3D4ff;
  --cyber-grape: #635389ff;
  --purple-mountain-majesty: #8F80B3; 
  --carolina-blue: #58a4caff;
  --space-cadet: #14244eff;
  --xiketic: #0e1324ff;
  --xiketic-2: #02061dff;
  --my-green: #80b38f;

  background-color: var(--space-cadet);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: var(--space-cadet);
  padding: 25px;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  background-color: var(--black) !important;
  color: white
}

div.create-user-inputs {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;

}
div.create-user-inputs label       { text-align:right; }
div.create-user-inputs label:after { content: ":"; }


.Login-body {
  background-color: var(--oxford-blue);
  padding: 25px;
  min-height: 100vh;
}

.Login-card {
  background-color: var(--black) !important;
}

.Navbar {
  background-color: var(--xiketic);
}

.CourseBox {
  background-color: var(--space-cadet) !important;
}

.Course {
  background-color: var(--purple-mountain-majesty) !important;
}

.nav-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #61dafb;
  cursor: pointer;
}

.card-header {
  background-color: var(--my-green) !important;
}